    <div class="u-theme-blacky">
      <section class="spectrum">
        {% for singleSpektrum in site.data.spektrum %}
        <article>
          <ul>
            <li>
              <ion-icon name="{{ singleSpektrum.icon }}" style="color: {{ singleSpektrum.iconColor }}"></ion-icon>
            </li>
            <li>
              <h2>{{ singleSpektrum.title }}</h2>
            </li>
            <li>{{ singleSpektrum.text | markdownify }}</li>
          </ul>
        </article>
        {% endfor %}
      </section>
    </div>