      <section class="spectrum">
        {% for singleSpektrum in site.data.spektrum %}
        <article data-aos="fade-left" data-aos-duration="600">
          <ul>
            <li>
              <ion-icon name="{{ singleSpektrum.icon }}" style="color: {{ singleSpektrum.iconColor }}"></ion-icon>
            </li>
            
            <li>
              <h2>{{ singleSpektrum.title }}</h2>
            {{ singleSpektrum.text | markdownify }}</li>
          </ul>
        </article>
        {% endfor %}
      </section>

