@import 'root';
@import 'layouts.scss';
@import 'sections';
@import 'buttons';

body {
  color: var(--color-text-primary);
  font-family: var(--font-text);
  font-weight: 400;
  font-style: normal;
  font-size: var(--base-unit);
  background: var(--color-background-default);
  hyphens: auto;
}

a {
  text-decoration: underline;
  text-decoration-color: blue;
  text-decoration-thickness: 2px;
  transition: var(--design-animation-default);
  &:hover {
    color: blue;
  }
}

h1 {
  font-size: calc(var(--base-unit)*1.8);
  font-weight: 300;
  color: var(--color-headings-primary);
  hyphens: none;
}

h2 {
  font-size: calc(var(--base-unit)*1.4);
    color: var(--color-headings-primary);

  font-weight: 300;
}

p {
  line-height: 150%;
  color: var(--color-text-primary)
}

.tree-of-knowledge {
  margin: 0;
  padding: 0;
  list-style-type: none;
  li {
    padding: calc(var(--base-unit)*.2) calc(var(--base-unit)*.4);
    margin: calc(var(--base-unit)*.2) calc(var(--base-unit)*0);
    background: rgba(0,0,0,0.1);
    display: inline-block;
  }
}



// Utilities

.u-align-center {
  display: inline-block;
  vertical-align: middle;
}

.u-theme-blacky {
  background: rgb(20, 20, 20);
  color: #e5e5e5;
  h1, h2, h3 {
    color: #fff;
  }
  p {
    color: #fff9;
  }

  overflow: auto;
}