// Sections

nav {
  padding: calc(var(--base-unit)*1.5);
  display: flex;
  align-items: center;
  justify-content: space-between;

  img {
    height: 3rem;
  }

  ul {
    list-style-type: none;
    color: black;
    font-weight: 600;
    margin: 0;
    padding: 0;

    li {
      display: inline-block;

      &:not(:first-of-type) {
        margin-left: calc(var(--base-unit)*.8);
      }
    }

    a {
      color: black;
    }
  }
}

.intro {
  padding: calc(var(--base-unit)*5.5) calc(var(--base-unit)*1.5) calc(var(--base-unit)*1.5) calc(var(--base-unit)*1.5);

  h1 {
    margin: 0;
  }
}

.spectrum {
  article {
    padding: calc(var(--base-unit)*0) calc(var(--base-unit)*0) calc(var(--base-unit)*0) calc(var(--base-unit)*0);
    margin: calc(var(--base-unit)*1.5) calc(var(--base-unit)*1.5) calc(var(--base-unit)*1.5) calc(var(--base-unit)*1.5);


    h2 {
      margin: 0;
      margin-top: calc(var(--base-unit)*.5);
    }

    p {
      margin-top: calc(var(--base-unit)*.5);
      color: #929292;
    }

    ion-icon {
      font-size: calc(var(--base-unit)*3);
      margin-top: calc(var(--base-unit)*.5);
    }

    ul {
      margin: calc(var(--base-unit)*.5) 0;
      padding: 0;
      list-style-type: none;
      display: grid;
      grid-template-columns: auto auto;
      gap: calc(var(--base-unit)*1);
    
    }
  }
}
  @media screen and(min-width: 768px) {
    .spectrum {
    display: grid;
    gap: 0;
    padding: 1.5rem;
    grid-template-columns: auto;
    article {
      border-bottom: none;
    }
    }
  }

.greentext {
  padding: calc(var(--base-unit)*1.5) calc(var(--base-unit)*1.5) calc(var(--base-unit)*1.5) calc(var(--base-unit)*1.5);

  h1 {
    margin: 0;
  }

  ion-icon {
    font-size: calc(var(--base-unit)*3.5);
    color: #a0d2a0;
  }
}

.about {
  padding: calc(var(--base-unit)*1.5) calc(var(--base-unit)*1.5) calc(var(--base-unit)*1.5) calc(var(--base-unit)*1.5);
  background: whitesmoke;

  h1 {
    margin: 0;
  }

  &--box {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: calc(var(--base-unit)*1.5);

    &__media {
      display: flex;
      align-items: center;
      position: relative;

      .u-media-profile {
        height: calc(var(--base-unit)*8.5);
        border-radius: 0;
        position: absolute;
        top: 0;
        right: 0;
      }
    }
  }
}