---
layout: home
---
{% include head.html %}

<div class="container-hero">
  <div>
    <nav>
      <img src="{{ '/assets/img/ds-logo.svg' | relative_url }} ">
      <ul>
        <li><a href="#">Projekt starten</a></li>
        <li><a href="#">Kontakt</a></li>
      </ul>
    </nav>
    <section class="intro">
      <h1>{{ page.introTitle }}</h1>
      {{ page.introText | markdownify }}
      <button>Projekt starten <ion-icon class="u-align-center" name="arrow-forward-sharp"></ion-icon></button>
    </section>
  </div>
  <div class="container-hero__media">
    <img src="{{ '/assets/img/denkpic.svg' | relative_url }}" class="u-hero-mobile">
  </div>
</div>

{% include spektrum.html %}


<img src="" alt="">
<section class="about">
  <div class="about--box">
    <div class="about--box__text">
      <h1>{{ page.aboutTitle }}</h1>

      {{ page.aboutText | markdownify }}
      <h2>Kompetenzen</h2>
      <ul class="tree-of-knowledge">
        <li>
          <ion-icon class="u-align-center" name="logo-html5"></ion-icon> HTML5
        </li>
        <li>
          <ion-icon class="u-align-center" name="logo-sass"></ion-icon> SCSS
        </li>
        <li>
          <ion-icon class="u-align-center" name="logo-css3"></ion-icon> CSS3
        </li>
        <li>
          <ion-icon class="u-align-center" name="logo-javascript"></ion-icon> JavaScript
        </li>
      </ul>

    </div>
    <div class="about--box__media">
      <img src="{{ '/assets/img/profil.jpg' | relative_url }}" class="u-media-profile">
    </div>
  </div>
</section>

{% include foot.html %}