---
title: Heike Stoehr
layout: home
---
{% include head.html %}

<div class="section-intro">
  <header>
    <nav>
      <div class="section-nav">
        <div class="section-nav__logotype">
          <img src="{{ site.url }}/assets/img/ds-logo.svg" alt="" class="header-logotype__mobile">
        </div>
        <div class="section-nav__text">
          <strong>Denkstream</strong><br>
          Konzepte für Design und<br>Benutzererfahrung
        </div>
      </div>
    </nav>

    <div class="container-top">
      <div class="image"></div>

      <div class="focus">
        <h1 class="focus__main">{{ page.introTitle }}</h1>
        {{ page.introText | markdownify }}
      </div>
    </div>
  </header>
</div>


<div class="section-spectrum">
  {% include spektrum.html %}
</div>

<h2>{{ page.greenTitle }}</h2>
{{ page.greenText | markdownify }}

<h1>{{ page.aboutTitle }}</h1>
{{ page.aboutText | markdownify }}

{% include foot.html %}